.advertisement {
  width: 100%;

  @include tablet {
    width: 48%;
  }
  
  @include desktop {
    width: 48.7%;
  }

  &__picture {
    width: 100%;
    height: 356px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s;
    
    &:hover {
      transform: scale(1.05);
    }

    @include tablet {
      width: 100%;
      margin-bottom: 30px;
    }

  }

  &__date {
    color: $mainColor;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
  }

  &__smallTitle {
    height: 50px;
    margin-bottom: 20px;

    @include tablet {
      width: 100%;
      height: 60px;
      margin-bottom: 50px;
    }
  }
  
  &__text {
    height: 96px;
    color: $grayColor;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 30px;

    @include tablet {
      width: 100%;
      height: 70px;
      margin-bottom: 40px;
    }

    @include desktop {
      width: 100%;
      height: 48px;
      margin-bottom: 50px;
    }
  }

  &__tickets {
    width: 100%;

    @include desktop {
      width: 270px;
    }
  }
}
