.header {
  display: flex;
  flex-direction: column;
  background-color: $headerColor;
  padding: $smartPadding;
  
  @include tablet {
    padding: $tabletPadding;
  }

  @include desktop {
    padding: $desktopPadding;
  }

  &__picture {
    display: flex;
    align-items: center;
    position: absolute;
    top: 476px;
    left: calc((100vw - 245px) / 2);
    width: 245px;
    height: 273px;
    background-color: $headerColor;
    margin: 0 auto;

    @include tablet {
      width: 443px;
      height: 494px;
      top: 602px;
      left: calc((100vw - 443px) / 2);
    }

    @include desktop {
      width: 625px;
      height: 663px;
      top: 143px;
      bottom: 0;
      right: 0;
      left: auto;

    }
  }
  
  &__top {
    margin: 20px 0 70px;

    @include tablet {
      margin: 20px 0 119px;
    }

    @include desktop {
      width: $maxwidth;
      margin: 26px auto 117px;
    }
  }

  &__date {
    color: $whiteColor;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 10px;
  }

  &__title {
    width: 280px;
    margin-bottom: 30px;

    @include tablet {
      width: 480px;
      margin-bottom: 20px;
    }

    @include desktop {
      width: 569px;
      margin-bottom: 30px;
    }
  }

  &__text {
    width: 267px;
    color: $whiteColor;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;

    @include tablet {
      width: 330px;
      margin-bottom: 50px;
    }

    @include desktop {
      width: 569px;
      margin-bottom: 81px;
    }
  }

  &__tickets {
    margin-bottom: 313px;

    @include tablet {
      width: 330px;
      margin-bottom: 564px;
    }

    @include desktop {
      width: 270px;
      margin-bottom: 135px;
    }
  }

  &__events {
    display: none;

    @include desktop {
      display: flex;
      font-family: Playfair Display, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
      color: $whiteColor;
      opacity: 0.7;
      margin-bottom: 50px;

      &::after {
        display: block;
        position: relative;
        content: "";
        background-image: url(./pictures/divider.svg);
        color: $whiteColor;
        opacity: 0.3;
        width: 469px;
        height: 1px;
        left: 20px;
        top: 10px;
      }
    }
  }
}
