.socials {

  &__links {
    margin-bottom: 50px;

    &:not(:first-child) {
      margin-left: 20px;
    }
    
    &--image {
      display: inline-block;
      width: 20px;
      height: 20px;
      @include hover;
    }
  }
}
