.actualExibitions {
  background-color: $whiteColor;
  padding: 90px 20px 210px;
  @include tablet {
    padding: $tabletPadding;
  }
  @include desktop {
    padding: $desktopPadding;
  }
  
  &__container {
    
    @include tablet {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__title {
    @include tablet {
      width: 450px;
      margin: 105px 0 75px;
    }
    @include desktop {
      margin: 110px 0 71px;
    }
  }

  &__archive {
    position: relative;
    top: 1490px;
    @include tablet {
      position: unset;
      width: 210px;
      height: 60px;
      margin-top: 100px;
    }
    @include desktop {
      width: 270px;
    }
  }

  &__advertisement1 {
    margin-bottom: 60px;
    @include tablet {
      width: 48%;
      margin-bottom: 164px;
    }
    @include desktop {
      width: 48.7%;
      margin-bottom: 200px;
    }
  }

  &__advertisement2 {
    @include tablet {
      width: 48%;
      margin-bottom: 164px;
    }

    @include desktop {
      width: 48.7%;
      margin-bottom: 200px;
      margin-left: 30px;
    }
  }
}
