@import "utils";
@import "fonts";
@import "typography";
@import "sections/actualExibitions.scss";
@import "sections/nearestEvents.scss";
@import "sections/news.scss";
@import "sections/subscribe.scss";
@import "sections/visit.scss";
@import "blocks/advertisement.scss";
@import "blocks/block.scss";
@import "blocks/container.scss";
@import "blocks/emptyButton.scss";
@import "blocks/footer.scss";
@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/topMenu.scss";
@import "blocks/page.scss";
@import "blocks/tickets.scss";
@import "blocks/top.scss";
@import "blocks/event.scss";
@import "blocks/socials.scss";

body {
  background: $c-gray;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
