@mixin hover {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin tabletGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 30px;
  justify-content: space-between;
}

@mixin deskGrid {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  gap: 30px;
  justify-content: center;
}
