$c-gray: #eee;
$whiteColor: #f1f5f4;
$blackColor: #1c1b29;
$grayColor: #504f5e;
$mainColor: #cd4d31;
$hoverColor: #af3419;
$pressedColor: #ea340d;
$disabledColor: #dd836f;
$headerColor: #3f5252;
$gray-headings: #333a4a;
$desktopPadding: 0 55px;
$tabletPadding: 0 39px;
$smartPadding: 0 20px;
$maxwidth: 1170px;
